<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include ./email.css
    body
        h2 Confirma tu Cuenta UpTask
        P Ya esta casi listo, solo falta un paso. Da click en el siguiente botón para confirmar tu cuenta

        a(href=`${confirmarURL}`) Confirmar Cuenta
        p Si no puedes acceder a este enlace, visita #{confirmarURL}
        p Si no solicitaste este email, puedes ignorarlo