<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style
            include ./email.css
    body
        h2 Reestablecer Password
        P Hola, has solicitado reestablecer tu password, haz click en el siguiente enlace para reestablecerlo, este enlace es tempora, así que si se vence vuelve a solicitarlo

        a(href=`${resetUrl}`) Ir a resetear el password
        p Si no puedes acceder este a enlace, visita #{resetUrl}
        p Si no solicitaste este email, puedes ignorarlo